
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5a5656; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(231, 228, 228); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(39, 38, 38); 
}
